Repository sweshelo/misskey, pull requests merged in 2024-03, with the labels that each got.

#8 機能追加
  packages/backend/src/core/ReactionService.ts
  packages/backend/src/core/activitypub/models/ApNoteService.ts
  packages/backend/src/core/entities/NoteEntityService.ts
  packages/backend/src/queue/processors/WebhookDeliverProcessorService.ts
  packages/backend/src/server/api/endpoints/notes/user-list-timeline.ts
  packages/frontend/src/components/MkReactionsViewer.reaction.vue
  packages/frontend/src/components/global/MkCustomEmoji.vue
  packages/frontend/src/components/global/MkMisskeyFlavoredMarkdown.ts
  packages/frontend/src/pages/settings/general.vue
  packages/frontend/src/scripts/use-note-capture.ts
  packages/frontend/src/store.ts
  packages/misskey-js/src/autogen/types.ts
Labels: packages/frontend, packages/backend, packages/misskey-js

#9 Develop
  locales/en-US.yml
  locales/ja-JP.yml
  package.json
  packages/backend/src/core/activitypub/models/ApNoteService.ts
  packages/backend/src/core/entities/UserEntityService.ts
  packages/backend/src/queue/processors/WebhookDeliverProcessorService.ts
  packages/backend/src/queue/types.ts
  packages/backend/src/server/api/stream/channels/channel.ts
  packages/backend/src/server/api/stream/channels/global-timeline.ts
  packages/backend/src/server/api/stream/channels/hashtag.ts
  packages/backend/src/server/api/stream/channels/home-timeline.ts
  packages/backend/src/server/api/stream/channels/hybrid-timeline.ts
  packages/backend/src/server/api/stream/channels/local-timeline.ts
  packages/backend/src/server/api/stream/channels/user-list.ts
Labels: packages/backend

#10 feat: Nodeinfoに最大リアクション数を追加
  packages/backend/src/server/NodeinfoServerService.ts
Labels: packages/backend

#12 Develop
  locales/index.d.ts
  locales/ja-JP.yml
  packages/backend/src/server/NodeinfoServerService.ts
  packages/frontend/package.json
  packages/frontend/src/components/MkInviteCode.vue
  packages/frontend/src/components/MkReactionsViewer.reaction.vue
  packages/frontend/src/components/MkSignupDialog.form.vue
  packages/frontend/src/components/MkSignupDialog.vue
  packages/frontend/src/components/global/MkCustomEmoji.vue
  pnpm-lock.yaml
Labels: packages/frontend, packages/backend

#14 Feat/emoji import
  locales/index.d.ts
  locales/ja-JP.yml
  packages/frontend/src/components/MkInviteCode.vue
  packages/frontend/src/components/global/MkCustomEmoji.vue
Labels: packages/frontend

#15 Develop
  locales/index.d.ts
  locales/ja-JP.yml
  package.json
  packages/backend/test/e2e/endpoints.ts
  packages/frontend/src/components/MkInviteCode.vue
  packages/frontend/src/components/global/MkCustomEmoji.vue
Labels: packages/frontend, packages/backend, packages/backend:test
